.sort.container-fluid {
  margin: 2em 0 !important;
  display: grid;
}

.listingAvailable {
  padding: 0 0.75em;
  font-size: 2em;
}

.sortForm {
  align-self: center;
  padding: 0 1.75rem;
}

label {
  padding-right: 15px;
  font-weight: bold;
  color: gray;
  letter-spacing: 2pt;
}

select {
  padding: 0.25em 1em;
  border: 2px solid lightgray;
}

.listingsContainer.container-fluid {
  display: grid;
}

.card {
  margin: 1.5em 0;
  box-shadow: 0px 2px 0px rgb(187, 184, 184);
}

.card-subtitle.card-text {
  font-weight: 300;
}

.card img {
  height: 275px;
  border-radius: 0%;
}

.loadMore {
  margin: 3em 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

/*For Mobile View*/
@media screen and (min-width: 375px) {
  .sort.container-fluid {
    grid-template-columns: repeat(1, 1fr);
  }
  .listingAvailable {
    justify-self: center;
  }
  .sortForm {
    grid-column: 1;
    justify-self: center;
  }
  .listingsContainer.container-fluid {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
  .card {
    width: 350px;
  }
  .card-text p {
    font-size: 1.15em;
  }
  .btn.btn-primary {
    font-size: 1.75em;
    width: 9em;
    height: 1.75em;
  }
}

/*For Tablet View*/
@media screen and (min-width: 765px) {
  .listingsContainer.container-fluid {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
  .card {
    width: 365px;
    margin: 1em 0.5em;
  }
  .card-text {
    font-size: 1.25em;
  }
  .btn.btn-primary {
    font-size: 1.75em;
    width: 9em;
    height: 1.75em;
  }
}

/*For Hi-Res Tablet/Low-Res Desktop*/
@media screen and (min-width: 1024px) {
  .sort.container-fluid {
    grid-template-columns: repeat(3, 1fr);
  }
  .listingAvailable {
    grid-column: 1;
    justify-self: left;
    padding-left: 2%;
  }
  .sortForm {
    grid-column: 3;
    justify-self: right;
    padding-right: 3%;
  }
  .listingsContainer.container-fluid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .card {
    width: 325px;
    margin: 1em auto;
  }
  .card-text {
    font-size: 1.1em;
  }
}

/*Desktop View*/
@media screen and (min-width: 1440px) {
  .listingsContainer.container-fluid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .card {
    width: 450px;
    height: 425px;
  }
  .btn.btn-primary {
    font-size: 1.75em;
    width: 12em;
    height: 2.5em;
  }
}
