.Header {
  -webkit-box-shadow: 0px 3px 3px lightgray;
  -moz-box-shadow: 0px 3px 3px lightgray;
  box-shadow: 0px 3px 3px lightgray;
}

.Header img {
  margin: 1.25rem 2.5rem;
}

/*For Desktops*/
@media screen and (min-width: 1024px) {
  .Header {
    height: 5rem;
    width: 100%;
  }
}

/*For Mobile Devices*/
@media screen and (min-width: 375px) and (max-width: 1023px) {
  .Header {
    display: flex;
    justify-content: center;
  }
}
