.Footer {
    position: sticky;
    top: 100%;
    background-color: gray;
    color: white;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.Footer p {
    margin: 2.5rem 2.5rem;
}

@media (min-width: 375px) {
    .Footer p {
        margin-right: 7rem;
    }
  }